:host ion-item.item-native {
  --padding-left: 0;
}

.ion-item-form {
  padding-left: 0;
  --border-radius: 25px;
  --background: white;
  --border-color:  black;
  --color: black;
  --border-width: 1px;
  --color-hover:  #DD2228;
  margin-top:5px;
}
