<div class="outside-container">
    <div class="inside-container">
        <form novalidate>
            <div class="left-inside-container">
                <div class="input-holder">
                  <input
                    class="srate-input"
                    id="login-email-input"
                    type="email"
                  />
                  <label for="login-email-input">Email</label>
                </div>
          
                <div class="input-holder">
                  <input
                    class="srate-input"
                    id="login-password-input"
                    type="password"
                  />
                  <label for="login-password-input">Password</label>
                </div>
            </div>
        </form>
    </div>
</div>