/* You can add global styles to this file, and also import other style files */
html {
    background: #fafbff 0% 0% no-repeat padding-box;
    overflow-x: hidden;
    overscroll-behavior: none;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic"
  }
