.text-style-11-14-black {
    font: normal normal normal 11px/14px Century Gothic;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}



.text-style-16-22-black-bold {
    font: normal normal bold 16px/22px Century Gothic;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


// GREEN
.text-style-11-14-green {
    font: normal normal normal 11px/14px Century Gothic;
    letter-spacing: 0px;
    color: #2a443d;
    opacity: 1;
}

.text-style-11-14-green-bold {
    font: normal normal bold 11px/14px Century Gothic;
    letter-spacing: 0px;
    color: #2a443d;
    opacity: 1;
}

.text-style-14-18-green-bold {
    font: normal normal bold 14px/18px Century Gothic;
    letter-spacing: 0px;
    color: #2a443d;
    opacity: 1;
}


.text-style-16-22-green {
    font: normal normal normal 16px/22px Century Gothic;
    letter-spacing: 0px;
    color: #2a443d;
    opacity: 1;
}

.text-style-16-22-green-bold {
    font: normal normal bold 16px/22px Century Gothic;
    letter-spacing: 0px;
    color: #2a443d;
    opacity: 1;
}

.text-style-16-22-black {
    font: normal normal normal 16px/22px Century Gothic;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}  