@import "../index.scss";
@import "fonts.scss";
::-ms-reveal {
  display: none;
}

/*|| BASIC CONTAINERS */

.outside-container {
  width: 100%;
  min-width: 100%;
  padding: calculateRem(20);
  background: #fafbff 0% 0% no-repeat padding-box;
  opacity: 1;
  min-height: 100%;
  overflow: hidden;
  @extend .center-vertical-top;

  .top-container {
    width: 110%;
    @extend .center-vertical-top;
    background: transparent
      linear-gradient(243deg, #1b3e65 0%, #1c4e88 48%, #1c3d64 100%) 0% 0%
      no-repeat padding-box;
    border-radius: 0 0 50% 50%;
    .logo {
      width: 215px;
    }
    img[alt] {
      margin-top: 25px;
      max-width: 160px;
      border-radius: 50%;
    }
  }

  .inside-container {
    width: 100%;
    max-width: 314px;
    opacity: 1;
    background: #fafbff 0% 0% no-repeat padding-box;
    @extend .center-vertical-top;

    .wide-bottom-container {
      position: fixed;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      bottom: 0;
      right: 0;
      /* UI Properties */
      background: rgba(250, 251, 255, 0.77) 0% 0% no-repeat padding-box;
      border: 1px solid #f0f0f4;
    }
  }
}
.left-inside-container {
  opacity: 1;
  align-self: flex-start;
  align-items: left;
}

.srate-input {
  background-color: #fafbff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 5px;
}

.input-label {
  width: 30px;
  height: 16px;
}

.input-holder{
  position: relative;
  line-height: 14px;
  width: 100%;
  margin-top: 50px;
  display: inline-block;
  label {
    text-align: left;
    line-height: 24px;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 14px;
    pointer-events: none;
    transition: transform 100ms ease;
    transform: translateY(-25px);
  }
  input {
    width: 100%;
    line-height: 24px;
    outline: none;
    border: unset;
    border-bottom: 1.5px solid var(--unnamed-color-94a3be);
    border-bottom: 1.5px solid #94a3be;
    padding: 5px 0px;
    position: relative;
  }
}

.input-wrapper {
  position: relative;
  line-height: 14px;
  width: 100%;
  display: inline-block;
  label {
    text-align: left;
    line-height: 24px;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 14px;
    pointer-events: none;
    transition: transform 100ms ease;
    transform: translateY(-25px);
  }
  input {
    width: 100%;
    line-height: 24px;
    outline: none;
    border: unset;
    border-bottom: 1.5px solid var(--unnamed-color-94a3be);
    border-bottom: 1.5px solid #94a3be;
    padding: 5px 0px;
    position: relative;
  }

  input.empty + label {
    transform: translateY(0);
  }

  input:focus + label {
    transform: translateY(-25px);
  }
}