<div class="outside-container">
  <div class="inside-container">
    <div class="logo">
      <img src="../../../../assets/images/TrackoBot-Logo.png" width="150px" />
      <!-- <div class="logo-text">Track-O-Bot</div> -->
    </div>
    <div class="inventory-text">Inventory</div>
    <div class="workspace-showcase">
      <button class="add-button">
        <div class="innex-box-content">
          <img src="../../../assets/images/health-icon.png" alt="" width="50px" height="50px">
        </div>
        <div class="workspace-title">
          Medicine
        </div>
      </button>
      <button class="add-button">
        <div class="innex-box-content">
          <img src="../../../assets/images/plus-icon.png" alt="" width="50px" height="50px">
        </div>
        <div class="workspace-title">
          Add a Field
        </div>
      </button>
    </div>
  </div>
</div>






